html {
  box-sizing: border-box;
  background-color: #f5f2f0;
  font-family: georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #623b0c;
  font-family: 'Denk One', sans-serif;
}

/** grid **/

ol {
  display: grid;
  grid-template-rows: 1fr 1fr;
  list-style-type: none;
  gap: 1rem;
}

ol li:first-child, ol li:nth-child(2) {
  grid-row: 1;
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
}

ol li:nth-child(3), ol li:nth-child(4){
  grid-row: 2;
  background-color: #ede3db;
}

img {
  width: 100%;
}
